################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/WPF-Example/v16
/HelloWPF/obj/Debug
/HelloWPF/bin/Debug
/FirstEvent/obj/Debug
/FirstEvent/bin/Debug
/StartupUri/obj/Debug
StartupUri/bin/Debug/StartupUri.exe
StartupUri/bin/Debug/StartupUri.exe.config
StartupUri/bin/Debug/StartupUri.pdb
/DataBound/obj/Debug
/DataBound/bin/Debug
/DataContext/obj/Debug
/DataContext/bin/Debug
/DatabindingCodebehind/obj/Debug
/DatabindingCodebehind/bin/Debug
