################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/WPF-Example/v16
/HelloWPF/obj/Debug
/HelloWPF/bin/Debug
/FirstEvent/obj/Debug
/FirstEvent/bin/Debug
