################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/WPF-Example/v16
/HelloWPF/obj/Debug
/HelloWPF/bin/Debug
/FirstEvent/obj/Debug
/FirstEvent/bin/Debug
/StartupUri/obj/Debug
StartupUri/bin/Debug/StartupUri.exe
StartupUri/bin/Debug/StartupUri.exe.config
StartupUri/bin/Debug/StartupUri.pdb
/DataBound/obj/Debug
/DataBound/bin/Debug
/DataContext/obj/Debug
/DataContext/bin/Debug
/DatabindingCodebehind/obj/Debug
/DatabindingCodebehind/bin/Debug
/UpdateSourceTrigger/obj/Debug
/UpdateSourceTrigger/bin/Debug
/DataBinding/DatabindingCodebehind/obj/Debug
/DataBinding/DatabindingCodebehind/bin/Debug
/DataBinding/DataBound/obj/Debug
/DataBinding/DataBound/bin/Debug
/DataBinding/DataContext/obj/Debug
/DataBinding/DataContext/bin/Debug
/DataBinding/UpdateSourceTrigger/obj/Debug
/Respondingtochanges/obj/Debug
/Respondingtochanges/bin/Debug
/DataBinding/Respondingtochanges/obj/Debug
/DataBinding/Respondingtochanges/bin/Debug
/DataBinding/IValueConverter/obj/Debug
/DataBinding/IValueConverter/bin/Debug
/DataBinding/UpdateSourceTrigger/bin/Debug
/Commands/WPFExample.CanExecute/obj/Debug
/Commands/WPFExample.CanExecute/bin/Debug
/Commands/WPFExample.CommandFirst/obj/Debug
/Commands/WPFExample.CommandFirst/bin/Debug
/Commands/WPFExample.CommandsWithCommandTargetSample/obj/Debug
/Commands/WPFExample.CommandsWithCommandTargetSample/bin/Debug
/Commands/WPFExample.UsingCommandsSample/obj/Debug
/Commands/WPFExample.UsingCommandsSample/bin/Debug
/Commands/WPFExample.CustomCommands/obj/Debug
/Commands/WPFExample.CustomCommands/bin/Debug
